development:
  API_URL:
  APP_HOST:
  APP_PROTOCOL:
  APPLE_STORE_URL:
  GOOGLE_STORE_URL:
  CONTRACTOR_INVITATION_URL:
  GOOGLE_API_KEY:

test:
  API_URL:
  APP_HOST:
  APP_PROTOCOL:
  APPLE_STORE_URL:
  GOOGLE_STORE_URL:
  CONTRACTOR_INVITATION_URL:
  GOOGLE_API_KEY:
