development:
  API_URL:
  WEB_SOCKET_URL:
  APP_HOST:
  APP_PROTOCOL:
  APPLE_STORE_URL:
  GOOGLE_STORE_URL:
  CONTRACTOR_INVITATION_URL:
  GOOGLE_API_KEY:
  STRIPE_PUBLISHABLE_KEY:
  STRIPE_SECRET_KEY:
  SUPPORT_EMAIL:
  SUPPORT_PHONE:
  LAYER_APP_ID:
  FOURSQUARE_CLIENT_ID:
  FOURSQUARE_CLIENT_SECRET:
  SEGMENT_KEY:

test:
  API_URL:
  WEB_SOCKET_URL:
  APP_HOST:
  APP_PROTOCOL:
  APPLE_STORE_URL:
  GOOGLE_STORE_URL:
  CONTRACTOR_INVITATION_URL:
  GOOGLE_API_KEY:
  STRIPE_PUBLISHABLE_KEY:
  STRIPE_SECRET_KEY:
  SUPPORT_EMAIL:
  SUPPORT_PHONE:
  LAYER_APP_ID:
  FOURSQUARE_CLIENT_ID:
  FOURSQUARE_CLIENT_SECRET:
  SEGMENT_KEY:
