.center { text-align: center }
.right { float: right }
.left { float: left }
.pr80 { padding-right: 80px !important; }
.pl80 { padding-left: 80px !important; }
.pl25 { padding-left: 25px !important; }

.default_btn {
  width: 300%;
  height: 50px;
  background: #979797;
  border-radius: 9px;
  border: none;
  font-weight: bold;
}
