.center { text-align: center }
.right { float: right }
.left { float: left }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; } 
.p10 {padding: 10px; }
.p15 {padding: 15px; }
.p20 {padding: 20px; }
.pr80 { padding-right: 80px !important; }
.pl80 { padding-left: 80px !important; }
.pl25 { padding-left: 25px !important; }
.fs17 {font-size: 17px; }

.default_btn {
  width: 300%;
  height: 50px;
  background: #979797;
  border-radius: 9px;
  border: none;
  font-weight: bold;
}

.center { text-align: center !important; }
