.center { text-align: center }
.right { float: right }
.left { float: left }
.mt-50  { margin-top: -50px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.ml10 { margin-left: 10px !important; }
.ml10-pct { margin-left: 10% !important; } 
.ml20 { margin-left: 20px !important; }
.mb20 { margin-bottom: 20px; }
.p10 {padding: 10px; }
.p15 {padding: 15px; }
.p20 {padding: 20px; }
.pr80 { padding-right: 80px !important; }
.pl10 { padding-left: 10px !important; }
.pl80 { padding-left: 80px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.fs17 { font-size: 17px; }
.w60-pct { width: 60%; }

nav.navbar {
  margin-bottom: 0;
  .navbar-brand {
    padding: 0px;
    height: 80px;
  }
  .navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
  }
  .nav >li >a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.default_btn {
  width: 300%;
  height: 50px;
  background: #979797;
  border-radius: 9px;
  border: none;
  font-weight: bold;
}

.bold-title {
  font-size: 36px;
  font-weight: bold;
}

