.center { text-align: center }
.right { float: right }
.left { float: left }
.mt-50  { margin-top: -50px; }
.m0 { margin: 0px !important; }
.mt0 { margin-top: 0px !important; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt100 { margin-top: 100px; }
.ml10 { margin-left: 10px !important; }
.mt10-pct { margin-top: 10% !important; } 
.ml10-pct { margin-left: 10% !important; } 
.ml20 { margin-left: 20px !important; }
.ml40 { margin-left: 40px !important; }
.ml15-pct { margin-left: 15% !important; }
.ml20-pct { margin-left: 20% !important; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb-15 { margin-bottom: -15px; }
.p0 {padding: 0px !important; }
.p10 {padding: 10px; }
.p15 {padding: 15px; }
.p20 {padding: 20px; }
.pr80 { padding-right: 80px !important; }
.pl10 { padding-left: 10px !important; }
.pl80 { padding-left: 80px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.fs12 { font-size: 12px; }
.fs16 { font-size: 16px; }
.fs17 { font-size: 17px; }
.fs20 { font-size: 20px; }
.w50-pct { width: 50%; }
.w60-pct { width: 60%; }
.w110-pct { width: 110%; }
.bg-red { background: #d1232a !important; }
.bg-white { background: #fff !important; }
.red { color: #c80000; }
.grey { color: #7e7e7e; }
.white { color: #fff; }
.black { color: #000; }
.dark-grey { color: #040404 }
.purple { color: #7049ba; }
.green { color: #17d74e; }
.m-auto { margin: 0px auto; }
.w20-pct { width: 20%; }
.w40-pct { width: 40% !important; }
.w65-pct { width: 65% !important; }
.w100-pct { width: 100%; }
.h350-min { min-height: 350px !important; }
.display-inline { display: inline; }
.font-bold { font-weight: bold; }
.padding30 { padding: 30px; }
nav.navbar {
  margin-bottom: 0;
  .navbar-brand {
    padding: 0px;
    height: 80px;
  }
  .nav >li >a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  img {
    display: inline;
  }
}

.btn-red {
  width: 100% !important;
  background: #d1232a !important;
  color: #fff;
  font-size: 16px;
  height: 45px;
  padding: 10px;
}

.btn-blue {
  width: 100% !important;
  background: #00b7eb !important;
  color: #fff;
  font-size: 16px;
  height: 45px;
  padding: 10px;
}

.btn-border {
  border: 2px solid #888;
  color: #888;
  font-weight: bold;
  padding: 10px 20px !important;
}

.default_btn {
  width: 300%;
  height: 50px;
  background: #979797;
  border-radius: 9px;
  border: none;
  font-weight: bold;
}

.navbar-default {
  min-height: 100px;
  padding: 20px;
  background-color: #fff;
  border-color: #fff;
}

.red-bold-text {
  color: #d1232a !important;
  font-size: 16px;
  font-weight: bold;
}

.bold-title {
  font-size: 36px;
  font-weight: bold;
  color: #c80000;
}

.bold-text {
  font-size: 16px;
  font-weight: bold;
}

.inner-header {
  height: 120px;
}

.carousel-caption {
  left: 0% !important;
  right: 0% !important;
  bottom: 0px !important;
  background:rgba(255,255,255, 0.5);
  color: #000;
  text-shadow: none;
}

.carousel-indicators {
  top: 30px !important;
  .active { 
    background-color: #888;
    margin: 0px 5px;
    width: 11px;
    height: 11px;
  }
  li { 
    border: 1px solid #888;
    margin: 0px 5px;
  }
}

html, body, .row-offcanvas {
  position: relative;
  height: 100%;
}

body {
  padding-top: 120px;
}

.row.is-flex {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  min-height: 100%;
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.main-wrapper {
  height:100%;
  position: relative;
  overflow: auto;
  .sub-wrapper {
    padding: 0px 20px;
  }
}

.error-block {
  color: red;
  font-size: 15px;
}

.header-inside {
  background: #f9f9f9;
  .navbar-header {
    text-align: center;
    padding: 5px 10px;
    a {
      color: #000;
    }
    .welcome-user {
      a {
        color: #4c4c4c !important;
      }
      i {
        font-size: 70px;
        display: block;
      }
    }
  }
}

.page-title {
  margin: 78px 0px 0px 0px;
  .header-title { padding-left: 30px; }
}

.inner-logo {
  margin-top: 35px;
}

@mixin hidden-sidebar() {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width: calc(100% + 150px);
    button[data-toggle='offcanvas'] {
      display: block !important;
      i {
        &.fa-angle-left {
          display: none
        }
        &.fa-angle-right {
          display: block
        }
      }
    }
    &.active {
      button[data-toggle='offcanvas'] {
        i {
          &.fa-angle-left {
            display: block
          }
          &.fa-angle-right {
            display: none
          }
        }
      }
    }
  }
  .row-offcanvas-left {
    left: -150px;
  }
  .row-offcanvas-left.active {
    left: 0;
  }
}
.signup-form, #new_customer {
  .form-group.required:before {
    content: "*";
    color: red;
    margin: -5px -25px;
    padding: 16px;
    position: absolute;
  }
  .form-control {
    display: inline-block;
  }
}



body#service_requests_index, body#service_requests_new {
  @include hidden-sidebar()
}

@media screen and (max-width: 768px) {
  @include hidden-sidebar()
}
