.current-requests-container .row {
  .col-sm-12, .col-sm-6 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.current-request-wrapper, .past-request-wrapper {
  border-top: 30px solid #898989;
  border-radius: 5px;
  margin: 10px;
  .content {
    padding: 10px 20px;
  }
  .footer {
    background: #eaeaea none repeat scroll 0 0;
    padding: 10px 20px;
    color: #5c5c5c;
  }
}
.current-request-list, .past-request-list {
  padding-right: 0px !important;
}
.current-request-details, .past-request-details {
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-height: calc(100vh - 130px);
  max-height: calc(100vh - 130px);
  overflow: auto;
  background: #d8ddea;
  margin-top: 10px;
  .content {
    padding: 10px 20px;
  }
  .map-container {
    border-top: 30px solid #c2272d; 
    img {
      width: 100%;
    }
  }
  .white-container {
    margin: 10px 20px;
    background: #fff none repeat scroll 0 0;
    color: #000;
    font-size: 16px;
    margin-top: 20px;
    padding: 15px 20px;
    .grey-container {
      background: #eee none repeat scroll 0 0;
      margin-bottom: 5px;
      padding: 10px;
    }
    a {
      text-decoration: none;
    }
  }
  a:focus, a:hover {
    text-decoration: none;
  }
  .watermark {
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
    text-align: center;
  }
}

.current-request-list {
  min-height: calc(100vh - 120px) !important;
  max-height: calc(100vh - 120px);
  overflow: auto;
}

.btn-grey {
  width: 100%;
  background: #dbdadb;
  padding: 10px;
  color: #5c5c5c;
  font-weight: bold;
}

#serviceRequestDetail {
  .modal-header {
    background: #c2272d;
    color: #fff;
    .modal-title {
      font-size: 20px;
    }
  }
  .modal-body {
    padding: 10px 40px;
  }
}

.details-link {
  &:focus, &:hover { text-decoration: none; }
}

.current-request-wrapper.selected {
  border-color: #c2272d;
}

.margintop30 {
	margin-top:30px;
}

.authorize-payment-pannel {
  background: #D9534F none repeat scroll 0 0;
  color: #fff;
  padding: 20px;
}

#add_card {
  label {
    text-transform: uppercase;
  }
}

.estimation-container {
  background: #fff;
  .header {
    background: #419f17;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
  }
  .content {
    padding: 10px 20px;
  }
}

#declineEstimate, #declineAssignment {
  .modal-header {
    background: #c22d27;
    color: #fff;
    .close {
      color: #fff;
      opacity: 1;
    }
  }
}

#addCardForEstimate, #add_card {
  .modal-dialog {
    width: 98%;
    .modal-content {
      min-height: 90vh;
      .modal-body {
        width: 40%;
        margin: 0px auto;
      }
    }
  }
}

#chooseCard {
  top: 5%;
  .modal-body {
    width: 300px;
    margin: 0px auto;
    select {
      height: 40px;
      text-align: center;
      width: 100%;
    }
    .btn {
      width: 100%;
      padding: 10px;
      font-weight: bold;
      background: #00b7eb;
      border-color: #00b7eb;
    }
  }
}
