.current-requests-container .row {
  .col-sm-12, .col-sm-6 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.current-request-wrapper, .past-request-wrapper {
  border-top: 30px solid #c2272d;
  border-radius: 5px;
  margin: 10px;
  .content {
    padding: 10px 20px;
  }
  .footer {
    background: #eaeaea none repeat scroll 0 0;
    padding: 10px 20px;
    color: #5c5c5c;
  }
}
.current-request-details, .past-request-details {
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-height: calc(100vh - 100px);
  background: #d8ddea;
  margin-top: 10px;
  .content {
    padding: 10px 20px;
  }
  .map-container {
    border-top: 30px solid #c2272d; 
    img {
      width: 100%;
    }
  }
  .white-container {
    margin: 10px 20px;
    background: #fff none repeat scroll 0 0;
    color: #949494;
    font-size: 18px;
    margin-top: 20px;
    padding: 15px 20px;
  }
  a:focus, a:hover {
    text-decoration: none;
  }
}

.current-request-list {
  min-height: calc(100vh - 120px) !important;
  max-height: calc(100vh - 120px);
  overflow: auto;
}

#serviceRequestDetail {
  .modal-header {
    background: #c2272d;
    color: #fff;
    .modal-title {
      font-size: 20px;
    }
  }
  .modal-body {
    padding: 10px 40px;
  }
}

.details-link {
  &:focus, &:hover { text-decoration: none; }
}

.current-request-wrapper.selected {
  border-color: #898989;
}

.card-bg {
	background: no-repeat image-url('card-bg.png');
	height:340px;
	width:584px;
	padding:20px;
	color:#fff;
}

.card-front {
	width:415px;
	float:left;
}
.card-input-bg {
	background:#5a9df0;
	width:100%;
	height:31px;
}
.card-input-bg input {
	background:transparent;
	width:100%;
	border:0px;
	float:left;
	color:#fff;
	height:31px;
	padding:0px 3px;
	text-align:center;
}
.card-input-bg input.small {
	width:25%;
}
.card-input-bg input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.card-input-bg input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.card-input-bg input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.card-input-bg input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.card-details {
	margin-top:60px;
}
.margintop30 {
	margin-top:30px;
}
.card-back {
	margin-top: 178px;
	float: right;
	width: 100px;
	margin-left: 10px;
}

span.visa.active > img {
  border: 2px solid #4A8FE1;
  border-radius: 6px;
}

span.master_card.active > img {
  border: 2px solid #4A8FE1;
  border-radius: 6px;
}

span.american_express.active > img {
  border: 2px solid #4A8FE1;
  border-radius: 6px;
}

.card-image.visa-img { 
  background-image: image-url('visa.png');
  background-repeat: no-repeat;
}

.card-image.master-card-img { 
  background-image: image-url('masterCard.png');
  background-repeat: no-repeat; 
}

.card-image.american-express-img { 
  background-image: image-url('ae.png');
  background-repeat: no-repeat;
}

.authorize-payment-pannel {
  background: #D9534F none repeat scroll 0 0;
  color: #fff;
  padding: 20px;
}

#add_card {
  label {
    text-transform: uppercase;
  }
}

