.right-container{ 
  float: left; 
  width: 100%;
}

.location-list {
  background: #eeeeee;
  border-radius: 5px;
  min-height: 430px;
  margin: 10px;
  padding: 0px !important;
  img {
    width: 100%;
  }
  h3 {
    font-size: 18px;
    text-align: center;
  }
  h4 {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 50px;
  }
  .delete-icon-link {
    margin-top: 20px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    img {
      width: 35px !important;
      height: 35px !important;
    }
  }
}

h4 {
  text-align: center;
  padding: 0px 20px;
}

.location-list h4::before {
  content: "■";
  font-size: 40px;
  color: #d8d8d8;
  vertical-align: middle;
}

.btn-edit {
  background: #d9534e;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 50px;
  border: 0px;
  text-align: center;
  border-radius: 4px;
}

.btn-holder {
  margin: 30px auto 15px auto;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.icon-add{ 
  color: #d9534e; 
  text-decoration: none; 
  text-align: center;
}

#editLocation, #addLocation, .restaurant-details {
  .modal-header {
    background: #d9534f;
    color: #FFF;
    h4 {
      text-align: left !important;
      padding: 0px 0px;
    }
    i {
      font-size: 30px;
      vertical-align: bottom;
      margin-right: 10px;
    }
  }
  .modal-content {
    border-radius: 0px;
    .modal-body {
      min-height: 600px;
      max-height: 650px;
      overflow: auto;
    }
  }
  .select2-results__option.select2-results__message {
    margin: 10px;
  }
  .select2-container .select2-selection--single {
    width: 100% !important;
  }
  .select2-selection__arrow {
    display: none;
  }
  .location-form-container {
    .select2-search__field {
      margin-top: -26px;
    }
    .select2-results__options {
      max-height: 350px;
    }
  }
  .select2-search__field {
    display: block;
    margin-top: -38px;
    width: calc(100% - 1px);
    height: 42px;
    border: none !important;
    border-bottom: 2px solid #ccc !important;
  }
  .select2-search--dropdown {
    padding: 0px;
  }
  .select2-results__option {
    padding: 0px;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: transparent !important
  }
  .select2-dropdown {
    border-radius: 0px;
  }
  .combo-list{ 
    background: #f9f9f9; 
    padding: 15px; 
    margin-bottom: 15px;
    text-decoration: none;
    color: #363636;
    h5 {
      margin: 0px;
      padding: 0px;
      font-weight: bold; 
      font-size: 16px;
    } 
    p {
      margin: 0px;
    }
    &:hover, &:focus {
      background: #dbdbdb !important;
    }
  }
  .center-panel {
	  float:none !important;
	  margin:0 auto;
  }
  .panel-head {
	  background:#d9534e;
	  color:#fff;
	  font-size:18px;
	  padding:20px;
	  margin:0px;
	  font-weight:bold;
  }
  .provide-address {
    z-index: 9999;
  }
}

#editLocation, #addLocation {
  .footer {
    bottom: 0;
    left: 0;
    padding: 20px 15%;
    position: fixed;
    right: 0;
  } 
}

.pac-container {
  z-index: 10000 !important;
}
