.right-container{ 
  float: left; 
  width: 100%;
}

.location-list {
  background: #eeeeee;
  border-radius: 5px;
  min-height: 430px;
  img {
    width: 100%;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
    line-height: 18px;
  }
  h3 {
    text-align: center;
  }
}

h4 {
  text-align: center;
  padding: 0px 20px;
}

.location-list h4::before {
  content: "■";
  font-size: 40px;
  color: #d8d8d8;
  vertical-align: middle;
}

.btn-edit {
  background: #d9534e;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 50px;
  border: 0px;
  text-align: center;
  border-radius: 4px;
}

.btn-holder {
  margin: 30px auto 15px auto;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.icon-add{ 
  color: #d9534e; 
  text-decoration: none; 
  text-align: center;
}

.restaurant-details {
  .select2-dropdown-container {
    .select2-results {
      max-height: 300px !important;
    }
  }
  .footer {
    margin-top: 150px;
  }
  .select2-container--paper:nth-child(3) {
    display: none;
    margin-bottom: 5px;
  }
  .select2-results__option.select2-results__message {
    margin: 10px;
  }
  .select2-container .select2-selection--single {
    width: 100% !important;
  }
}

#editLocation, #addLocation, .restaurant-details {
  .modal-header {
    background: #d9534f;
    color: #FFF;
    h4 {
      text-align: left !important;
      padding: 0px 0px;
    }
    i {
      font-size: 30px;
      vertical-align: bottom;
      margin-right: 10px;
    }
  }
  .modal-content {
    border-radius: 0px;
    .modal-body {
      min-height: 600px;
      max-height: 650px;
      overflow: auto;
    }
  }
  .combo-list{ 
    background: #f9f9f9; 
    border-radius: 5px; 
    padding: 15px; 
    margin-bottom: 15px;
    text-decoration: none;
    color: #363636;
    h5 {
      margin: 0px;
      padding: 0px;
      font-weight: bold; 
      font-size: 16px;
    } 
    p {
      margin: 0px;
    }
    &:hover, &:focus {
      background: #dbdbdb !important;
    }
  }
  .center-panel {
	  float:none !important;
	  margin:0 auto;
  }
  .panel-head {
	  background:#d9534e;
	  color:#fff;
	  font-size:18px;
	  padding:20px;
	  margin:0px;
	  font-weight:bold;
  }
  .select2.select2-container {
    width: 100% !important;
  }
  .select2-dropdown-container {
    .select2-results {
      max-height: 400px;
      overflow: auto;
      width: 100%;
    }
  }
  .select2-container .select2-selection--single {
    border: 1px solid #888;
    height: 35px;
    padding: 5px;
    width: 95%;
  }
  .select2-search--dropdown .select2-search__field {
    border: 1px solid #888;
    height: 35px;
    margin: -9px -5px;
    padding: 4px;
    position: relative;
    width: 100%;
  }
  .provide-address {
    z-index: 9999;
  }
}

#editLocation, #addLocation {
  .footer {
    bottom: 0;
    left: 0;
    padding: 20px 15%;
    position: fixed;
    right: 0;
  } 
}

.pac-container {
  z-index: 10000 !important;
}

.select2-container--paper {
  font-family: inherit;
  font-size: 16px;
  &.select2-selection--single {
    height: 37px;
    &.select2-selection__rendered {
      line-height: 38px;
    }
    &:focus {
      box-shadow: 0px -2px 0px #2196f3 inset;
    }
  }
  &.select2-search--dropdown {
    padding: 0;
    padding-left: 3.5px;
    padding-bottom: 4.5px;
    border: 0;
    height: 30px;
  }
  &.select2-container--open {
    box-shadow: 0px -2px 0px #2196f3 inset;
    & .select2-dropdown--below {
      top: -33px;
      border-color: transparent;
    }
    &.select2-results {
      margin-top: 1px;
      line-height: 20px;
      &.select2-results__option--highlighted {
        background-color: #2196f3;
        color: #fff;
      }
    }
  }
  .select2-results__option[aria-selected] {
    padding: 0px;
  }
}
