.place-request-service-wrapper{
  .header {
    font-weight: bold;
    font-size: 45px;
    margin-top: 30px;
  }
  .border-box {
    background: #e6e6e6 none repeat scroll 0 0;
    border: 2px solid #666;
    margin-top: 10px;
    padding: 5px 10px;
    label {
      display: inline;
      margin-left: 10px;
    }
  }
  .image-upload-label {
    background: #ccc;
    border: 1px solid #ccc;
    color: #f2f2f2;
    font-size: 20px;
    height: 75px;
    width: 75px;
    label {
      padding: 25px 3px;
    }
    img {
      width: 75px;
      height: 75px;
    }
  }
  .form-wrapper {
    .btn-primary { 
      background: #999;
      border: 1px solid #999;
      &:hover, &:focus {
        background: #999;
      }
    }
    hr {
      border-color: #999;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }

  .place-service-request {
    .title {
      font-weight: bold;
      font-size: 26px;
    }
    p {
      font-size: 18px;
      margin-top: 15px;
    }
    .place-service-request-btn {
      border-radius: 10px;
      color: #000;
      font-size: 18px;
      margin: 15px;
      padding: 10px 20px;
      background: #999;
    }
    .col-sm-8 {
      font-size: 18px;
      margin-top: 10px;
    }
  }
}
