.left-sidebar {
  width: inherit;
  min-width: 105px;
  max-width: 105px;
  background: #fafafa;
  float: left;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  ul.sidebar { 
    margin: 0px;
    padding: 0px;
    li {
      margin: 0px;
      padding: 0px;
      list-style: none;
      padding: 20px 0px 16px 0px;
      background: #d9534f;
      border-bottom: 1px solid #dedede;
      text-align: center;
    }
  }
  a {
    &:hover i {
      filter: brightness(0) invert(1);
    }
    i {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      display: block;
    }
  }
}

.sidebar-btn {
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.icon-req-services {
  background: no-repeat image-url('icon-req-service.png') center;
  background-size: 50px 50px;
}

.icon-req-service-current {
  background: no-repeat image-url('icon-re-services.png') center;
  background-size: 50px 50px;
}

.icon-past-req {
  background: no-repeat image-url('icon-past-req.png') center;
  background-size: 50px 50px;
}

.icon-location {
  background: no-repeat image-url('icon-location.png') center;
  background-size: 50px 50px;
}

.icon-profile {
  background: no-repeat image-url('icon-profile.png') center;
}

.icon-staff {
  background: no-repeat image-url('icon-staf.png') center;
  background-size: 50px 50px;
}

.icon-my-guys {
  background: no-repeat image-url('icon-my-guys.png') center;
  background-size: 50px 50px;
}

.left-sidebar ul li {
  a {
    color: #c2272d;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    &:hover {
      color: #fff;
    }
    p {
      padding: 0px 10px;
    }
  }
  &.active {
    color: #fff;
    i {
      filter: brightness(0) invert(1);
    }
    a {
      color: #fff;
    }
  }
}

span.current-customer { padding-left: 10px; font-size: 18px; margin: 5px; }

nav.navbar.header-inside.inner-header.navbar-fixed-top {
  height: 118px !important;
}
