// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*------------------Signup page css starts-------------------------------*/
.sigin-container {
  border: 2px solid #666;
  margin: 5% auto;
  padding: 20px;
  width: 60%;
  .col-sm-6 {
    padding: 10px 20px;
    .signup-form-wrapper{
      border: 2px solid #666;
      background-color: #e5e5e5;
      padding: 10px 20px;
      color: #49494e;
      label { 
        display: block; 
        font-size: 18px; 
        margin-top: 10px; 
        color: #000;
      }
      input:not([type='submit']) { 
        height: 45px; 
        width: 100%; 
        padding: 10px 5px;
      }
      .form-actions { 
        margin-bottom: 20px; 
        margin-top: 20px; 
      }
      .signin-btn { 
        background-color: #989898; 
        padding: 10px 20px; 
        width: 40%; 
        border: 1px solid #989898; 
        border-radius: 5px; 
        padding: 10px 20px; 
        font-size: 20px; 
        color: #000; 
        margin-left: 60%;
      }
    }
    .mobileapp-info-wrapper{
      border: 2px solid #666;
      .header{
        background-color: #e5e5e5;
        border-bottom: 1px solid #000;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        padding: 20px;
        color: #49494e;
      }
      .app-container {
        margin-top: 20px;
        background-color: #e5e5e5;
        border: 1px solid #000;
        border-radius: 5px;
        color: #49494e;
        font-size: 16px;
        height: 70px;
        .col-sm-10 { 
          padding: 20px 10px; 
        }
      }
    }
  }
}

/*------------------Signup page css ends-------------------------------*/

.logout-btn {
  color: #999;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #999;
  padding: 10px 30px !important;
}
