// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sigin-container {
  border: 2px solid #666;
  margin: 5% auto;
  padding: 20px;
  width: 60%;
}

.logout-btn {
  color: #999;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #999;
  padding: 10px 30px !important;
}

.place-request-service-btn {
  padding: 10px 30px !important;
  font-size: 20px !important;
}

.signup-form-wrapper {
  hr { border-color: #888; }
}
