// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.signin-form{
  .row { margin-right: 0px !important; margin-left: 0px !important;}
  .login-pannel {
    background: #E6E6E6;
    border: solid #C3C3C3;
    padding: 49px 84px 109px 82px;
    text-align: left;
    input#password, input#email {width: 40%}
  }

  .btn-pannel{
    float: right;
    margin: -23px 79px 2px -37px;
  }

  .store-pannel {
    background: #FFF;
    height: 100%;
    border: solid #C3C3C3;
    color: #000;
    .title-text{ 
      border-bottom: solid #C3C3C3;
      text-align: center;
      font-size: 20px;
      background-color: #E6E6E6;
      height: 50px;
      font-weight: bold;
    }
    .desc-text {
      padding: 10px;
      font-size: 20px;
    }
    a.app-links{
      color: #000;
      i { font-size: 30px;}
      span {font-size: 15px;}
    }
    .app-store-link {
      padding: 21px;
      background-color: #CCC;
      border: solid 1px #000;
      margin: 10px;
      border-radius: 5px;
    }
  }
}
